*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary : hsl(214, 6%, 75%);
    --blue : hsl(206, 58%, 43%);;
    --font-color: #25282B;
    --font-high-emphasis: #734B32;
    --font-secondary: #2E77AE;
    --font-background: #FFF;
  
    --font-family-primary: 'Poppins';
    --font-family-secondary: 'Nunito';
    --font-family-tertiary: 'Playfair Display';
    --font-family-quat: 'Roboto';
}
body{
    background-color: #E4E4E4;
}
html {
    scroll-behavior: smooth;
}
.home{
    display: flex;
}
.nxt{
    margin: 5%;
}
.intro{
    margin-top: 3rem;
    width: auto;
}
.dp{
    margin-left: 10rem;
    padding-top: 2rem;
}
.icon-pic{
    width: 100%;
    border-radius: 0.6rem;
}
#homepage{
    display: flex;
    margin-top: 4rem;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    flex-direction: column;
}
.text-occ{
    display: inline;
    margin-bottom: 1px;
}
img{
    width: 100%;
    /* border-radius: 30rem; */
}
button:hover {
    cursor: pointer;
}
.b-1, .b-2, .b-3{
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    border-radius: 0.5rem;
    width: 7.2rem;
    height: 2.7rem;
}
.b-1{
    background: #2E77AE;
    color: var(--font-background);
    font-family: var(--font-family-quat);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.b-2{
    color: var(--font-color);
    font-family: var(--font-family-quat);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.b-3{
    background: #734B32;
    color: var(--font-background);
    text-align: center;
    font-family: var(--font-family-quat);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
.name-2{
    color: var(--font-color);
    font-family: var(--font-family-tertiary);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.second-p{
    color: var(--font-high-emphasis);
    font-family: var(--font-family-secondary);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.text-name{
    font-size: 1.125em;
    font-style: normal;
    font-weight: 700;
    line-height: 180%; /* 32.4px */
    color: var(--font-color);
    font-family: var(--font-family-primary);
}
li, a{
    text-decoration: none;
    color: black;
}
.nav-items{
    display: flex;
    list-style: none;
    gap: 1.5em;
    color: var(--font-color);
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
h2, .name-2, .text-prjt{
    margin-bottom: 0.8rem;
}
#soft{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 150%;
    font-stretch: normal;
    text-decoration: none;
    color: var(--font-secondary);
    font-family: var(--font-family-secondary);
    font-style: normal;
}
.name{
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120px;
    color: var(--font-color);
    font-family: var(--font-family-tertiary);
}
p{
    color: var(--font-high-emphasis);
    font-family: var(--font-family-secondary);
    line-height: 150%;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
}
header{
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-container>nav>ul>li{
    list-style: none;
    display: inline;
    margin-right: 1rem;
}
.nav-container > nav > ul > li > a:hover{
    border-bottom: 2px solid var(--blue);
}
.nav-img > img{
    display: none;
}
.text-prjt{
    color: var(--font-color);
    text-align: center;
    font-family: var(--font-family-tertiary);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    text-decoration-line: underline;
}
.Project-title{
    width: 100%;
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    background-color: #FFF;
    padding: 1rem 0.5rem;
    text-align: center;
    font-family: var(--font-family-secondary);
    font-size: 18px;
}
.grid-class{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: space-around;
    margin: auto;
    gap: 1.875rem;
    align-items: center;
    padding: 0 5%;
}
@media (max-width: 900px){
    .container{
        padding: 1rem 2rem;
        position: relative;
    }
    .nav-img > img{
        display: block;
        /* cursor: pointer; */
    }
    /* .nav-container{
        flex-direction: column;
    } */
    .nav-items{
        flex-direction: column;
        gap: 5px;
    }
    .nav-container > nav{
        display: none;
        position: absolute;
        left: 0;
        top: 4.1rem;
        background-color: var(--primary);
        width: 100%;
        padding: 1rem 5%;
        /* transition: display 10s; */
    }
    .nav-container > nav > ul > li{
        display: flex;
        margin-bottom: 1rem;
    }
    .dp{
        margin-top: 3rem;
        margin-left: 0;
        padding: 0;
        order: 1;
    }
    .intro{
        order: 2;
    }
    .text-occ{
        /* text-align: center; */
        display: none;
    }
    .home{
        flex-direction: column;
    }
    /* .grid-class{
        display: grid;
        grid-template-columns: repeat(1fr, 1fr);
    } */
    .nav-items{
        align-items: center;
    }
    .name{
        font-size: 2.5rem;
        line-height: 45px;
        margin-top: 0.5rem;
    }
}

.vectors-contact{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 1rem; 
}
.contact-me{
    padding-bottom: 1rem;
    margin-top: 2%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    color: var(--font-high-emphasis);
    text-align: center;
    font-family: var(--font-family-secondary);
}
